# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables / Secrets
.env
.env*.local

# Editor / IDE Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

terraform_aws/.terraform/
*.tfstate
*.tfstate.backup

dbt_project/logs/
dbt_project/target/

dbt_project/logs/
dbt_project/target/
